* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.header {
  min-height: 100vh;
  width: 100%;

  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../img/banner_1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

h1 {
  font-family: sans-serif;
  font-size: 30px;
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  display: flex;
  padding: 0.5% 6%;
  justify-content :space-between;
  align-items: center;
  position: fixed;
 
  width: 90%;
  

}

.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #4B7BE5;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.text-box{

  color: #fff;
  position: absolute;
  max-width: 50%;
  top: 50%;
  left: 30%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h2{
  font-size: 55px;
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 20px;
  color: #fff;
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border :1px solid #fff;
  padding: 12px 34px;
  font-size: 15px;

  position: relative;
  cursor: pointer;
}

.hero-btn:hover{
  border: 2px solid #16A535;
  background: #16A535;
 
}


nav .icon{
  display: none;
}

@media(max-width: 700px){
  .text-box h2{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background:#4B7BE5 ;
    height: 100vh;
    width: 200px;
    top: 0;
    right:-200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .icon{
    display:block;
;
    margin: 30px;
    font-size: 22px;
    cursor:pointer;
  }

  .nav-links ul{
    padding: 30px;
  }
}
